/* material-react-table-dark-mode.css */
.material-react-table-dark-mode-dark-mode {
    background-color: #333;
    color: #eee;
}

.material-react-table-dark-mode thead th {
    background-color: #555;
    color: #eee;
    border-bottom: 1px solid #777;
}

.material-react-table-dark-mode tbody td {
    border-bottom: 1px solid #777;
}

.material-react-table-dark-mode tbody tr:nth-child(even) {
    background-color: #444;
}

.material-react-table-dark-mode tbody tr:hover {
    background-color: #555;
}

.material-react-table-dark-mode .pagination button {
    background-color: #555;
    color: #eee;
    border: none;
}

.material-react-table-dark-mode .pagination button:hover {
    background-color: #666;
}